*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --redN: #E42226;
    --redB: #9F1C1F;
    --yellow: #F2CE13;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#whap {
    overflow: hidden;
}

.whap{
    max-width: 1240px; /* define o tamnho maximo*/
    margin-left: auto; /* calcula margem automatico*/
    margin-right: auto; /* calcula margem automatico*/
    padding: 0 20px; /* espaco 0= a cima 20 nas laterais*/
    position: relative;
}
.row{
    display: flex; /* display flex serve para alinhar item ao lado do outro*/
    flex-wrap: wrap; /* calcula o espaço automatico, quando display for flex, so serve para diplay flex*/
}

.space{
    padding: 10px;
}
.desk{
    width: 50%; /* define largura da tela*/
}

.desk-of-1w-3{
    width: 70%;
}

.desk-of-1w-4{ 
    width: 30%;
}

.col-lof3{
    width: 33.33%;
}

.col-2of3{
    width: 66.66%;
}

.btn{
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center; /* ele vai centratilzar o conteudo ao centro*/
    justify-content: center; /* serva para justificar o conteudo ao centro*/
    background: var(--yellow);
    color: var(--redB);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s !important;
}
.btn:hover{
    background: var(--redB);
    color: var(--yellow);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.menu ul li a{
    color: var(--redB);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s !important;
}

.menu ul li a:hover{
    color:  var(--yellow);
}

#banner{
    background: #ba171a;
}
#banner .title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--redN);
    padding: 10px 0;
    text-align: center;
}

#banner .title h3{
    color: white;
    font-size: 26px;
    font-weight: 400;
}

#sobre {
    padding: 80px 0;
    position: relative;

}

#sobre::before{
    content: "";
    background: #706F6F;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#sobre .content_left h2{
    color: var(--redB);
    font-size: 36px;
    max-width: 356px;
    line-height: 1.5;
    padding-bottom: 30px;
}

#sobre .content_left p{
    color: #706F6F;
    font-size: 16px;
    max-width: 500px;
    margin-bottom: 20px;
}

#sobre .form_contato{
    display: block;
}

#sobre form{
    padding-top: 25px;
}

#sobre .form_contato h3{
    color: var(--redN);
    font-size: 16px;
    max-width: 210px;
    padding-bottom: 15px;
}

#sobre .form_contato p{
    color: var(--redN);
    font-size: 16px;
    max-width: 350px;
}


#sobre form .content_input{
    width: 100%;
    max-width: 375px;
    padding: 15px 0;
    margin-bottom: 15px;
    display: block;
    padding-left: 15px;
}

#sobre form button{
    width: 100%;
    max-width: 140px;
    background: var(--redN);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    display: block;
    border: 1px solid var(--redN);
    margin-bottom: 30px;
    transition: all 0.5s !important;
}

#sobre form button:hover{
    background: #fff;
    color: var(--redN);
       
}

#sobre .checks{
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 20px;
}


#sobre .checks p{
    color: #706F6F !important;
    max-width: 430px;
}

#sobre .space_content{
    padding-left: 74px;
}

#condicoes{
    position: relative;

}





#condicoes .content_left{
    background: var(--redB);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#condicoes .content_left h2{
    color: white;
    font-weight: 400;
    font-size: 42px;
    max-width: 440px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

#condicoes .content_img p{
    text-align: end;
    color: #706F6F;
    font-size: 16px;
}

#condicoes .content_left h2 span{
    font-weight: 900;
}

#condicoes .content_img {
    padding: 50px 0;
}

#localidade {
    background-image: linear-gradient(#DCDDC4, #E1C2B2, #E4B5AA); /* cor de fundo na section*/  
    padding: 80px 0; /* 80 em cima e 0 nas laterais*/ /* padding 20px em cima, 0px a direita, 15px a baixo, 15px a esquerda, mesmo sentido do relogio */
}

#localidade h2 {
    font-size: 36px;
    color: #706F6F;
}

#localidade p {
    font-size: 16px;
    color: #706F6F;
    max-width: 362px;
}

#localidade .content {
    display: flex;
    align-items: center;
    justify-content: end;
}

#localidade .content h3 {
    font-size: 18px;
    color: var(--redN);
    text-align: end;
    position: relative;
}

#localidade .content h3::before{ /* icone antes do h3 com definaçao, se fosse 2 icones seria um before e after*/
    content: "";
    background: url(icone.png) no-repeat 50% 50%;
    position: absolute;
    width: 82px;
    height: 82px;
    right: -26px;
    top: -90px;
}

#localidade .content ul li {
    font-size: 18px;
    color: #706F6F;
    text-align: end;
}

#video {
    background: url(banner-video.jpg) no-repeat 50% 50% /cover;     
    /* background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;*/ 
    height: clamp(610px,20vw,610px);
    min-height: 770px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

#video .conteudo {
    display: block; /* visualizaçao em blocos, um abaixo do outro */
}


#player {
display: flex;
align-items: center;
justify-content: center;
}

.red {
    background: var(--redN);
    width: 100vw;
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: 0;
}

.red h2{
    font-size: 32px;
}

#video .red h2{
    color: white;
}

#Empreendimento {
    padding: 40px 0 80px;
    position: relative;
}

#Empreendimento::before{
    content: "";
    position: absolute;
    background: var(--redN);
    width: calc((100vw - 1240px)/2 + 360px);
    height: 100%;
    top: 0;
    right: 0;
}

#Empreendimento .whap::after{
    content: "";
    position: absolute;
    background: #fff;
    width:2px;                                    /* calc((100vw - 1240px)/2 + 360px); 1240 def: whap/               */
    height: 122%;
    top: -39px;
    right: 100px;
}

#Empreendimento img {
    margin-left: 0;
}

#Empreendimento h2{
    font-size: 24px;
    color: var(--redB);
    max-width:300px; /* largura maxima width = largura*/
    padding-bottom: 20px; /* espaço a baixo */ 
    position: relative; /*para todo posi absoluto é obrigatorio relative*/
    padding-left: 100px;
}

#Empreendimento h2::before{
    content: "2";
    color: var(--redB);
    font-size: 135px;
    position: absolute;
    width: 150%; /* largura */ 
    height: 150%; /* autura */
    left: 0;
    top: -47;
}

#Empreendimento ul{
    list-style: none;/* exclui os pontos da lista */
    color:#706F6F ;
}

#Empreendimento li{
    line-height: 1.9;
}

#Empreendimento .slide p{
    padding-top: 10px;
    color: #706F6F;
}

#garanta_seu_novolar {
    background: var(--redB);
}

#garanta_seu_novolar .conteudo {
    padding: 250px 0 250px 110px;
    /*       cima dir baix  esquer      */
}

#garanta_seu_novolar h2 {
    color: white;
    font-size: 35px;
    max-width: 420px;
    padding-bottom: 45px;
}



#garanta_seu_novolar .whap::before{
    content: "";
    position: absolute;
    background: url(footer-img-lef-mobile.png) no-repeat;
    width: 375px;
    height: 185px;
    top: 70px;
    left: 0;
}

#garanta_seu_novolar .whap::after{
    content: "";
    position: absolute;
    background: url(footer-img-right.png) no-repeat;
    width: 376px;
    height: 185px;
    right: 0;
    bottom: 100px;
}

#garanta_seu_novolar .btn {
    max-width: 320px;
    color: white;
    padding: 16px 0;
}

#garanta_seu_novolar .btn:hover{
    color: var(--redB);
    background: white;
}

#footer{
    background: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 900px) {
    #condicoes::before{
        content: "";
        background: var(--redB);
        position: absolute;
        width: calc((100vw - 1240px) / 2 + 250px);
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .desk {
        width: 100%;
    }
    .row
       { display: block;}
}

